{# TODO: UBAH JADI GET PER UNIT DAN PER ALAT KE back/dcs/tag dan back/dcs/tag #}
{% extends "metronic/base.html" %}
{% load static %}

{% block js %}
    <script>
    NodeList.prototype.forEach = Array.prototype.forEach;
    let datas = [];
    let unit = 1;
    let alat = 1;

    const btnUnit = $(".btn-unit");
    btnUnit.on('click',function(){
        const imageContainer = document.querySelector(".image-container");
        unit = $(this).data("id");
        imageContainer.style.backgroundImage = "";
        imageContainer.innerHTML = `<p class="float-center text-center text-white">Loading ...</p>`;
        $(".btn-unit").removeClass("active");
        $(this).addClass("active");
        fetchTag();
    });

    const btnAlat = $(".btn-alat");
    btnAlat.on('click',function(){
        const imageContainer = document.querySelector(".image-container");
        alat = $(this).data("id");
        imageContainer.style.backgroundImage = "";
        imageContainer.innerHTML = `<p class="float-center text-center text-white">Loading ...</p>`;
        $(".btn-alat").removeClass("active");
        $(this).addClass("active");
        fetchTag();
    });

    let addSpan = (id,top,left,val,satuan) => {
        return `<span class=\"detail\" id=\"${id}\" style=\"top:${top}px;left:${left}px\"><span class=\"isi\">${parseFloat(val).toFixed(2)}</span> ${satuan}</span>`;
    };

    const fetchTag = () => {

        fetch("/back/dcs/tag?id_unit="+unit+"&id_alat="+alat)
        .then(response =>{
           return response.json();
        })
        .then(data => {
            if(data.status == "success"){
                const imageContainer = document.querySelector(".image-container");
                let results = data.results;
                let image = results.image;
                let tags = results.tags;
                imageContainer.style.backgroundImage = "url('"+image+"')";
                imageContainer.innerHTML = "";
                let spans = "";
                tags.forEach((tag)=>{
                    spans = spans + addSpan(tag.tag,tag.top,tag.left,tag.value,tag.satuan)
                });
                imageContainer.innerHTML = spans;
            }
        })
        .catch(err => {
            console.log(err)
        })
    };

    const fetchVal = () => {
         fetch("/back/dcs/val?id_unit="+unit+"&id_alat="+alat)
         .then(response =>{
           return response.json();
         })
         .then(data => {
            if(data.status = "success"){
                let results = data.results;
                console.log(results);
                 document.querySelectorAll('.detail').forEach(function (el) {
                    const id = el.getAttribute("id");
                    const value = parseFloat(results[id]).toFixed(2);
                    if(value> 250){
                        el.style.color = "red";
                    }else if(value> 125){
                         el.style.color = "yellow";
                    }else{
                         el.style.color = "white";
                    }

                    const valEl = el.firstChild;
                    valEl.innerHTML = value;
                 });
            }
         })
    }

    const fetchWarning = () => {
        fetch("/back/dcs/warning")
        .then(response => {
            return response.json()
        })
        .then(data => {
            if(data.status = "success"){

                results = data.results;
                console.log(results);
                let unit = results.unit;
                let alat = results.alat;

                if(unit.length > 0){
                    unit.forEach(unit => {
                        id = "#unit"+unit;
                        console.log(id);
                       $(id).addClass("notif warning");
                    });
                }

                if(alat.length > 0){
                    alat.forEach(unit => {
                       $("#alat"+unit).addClass("notif warning");
                    });
                }
            }

            }
        ).catch(err => console.log(err));
    };


    fetchWarning();
    fetchTag();
    setInterval(fetchVal,2000);
    </script>
{% endblock %}

{% block css %}
<style>
    .image-container{
        {#background-image: url("{% static "assets/dcs/steamturbine.gif" %}") ;#}
        width: 960px;
        height: 510px;
        background-size: contain;
    }
    .detail{
      position : absolute;
      color : white;
      font-size: 0.8em;
      width : 90px;
      text-align: left;
    }

    .dcs-container{
        background-color: black ;
        width: 960px;
        height: 650px;
        background-size: contain;
    }

    .bottom-nav{
        padding: 0px 30px;
        position:absolute;
        bottom:0;
        left: 0;
        width: 960px;
    }

    .nav-link.active{
        background-color: white !important;
        color : #6f727d !important;
    }

    .nav-link.active.notif{
        animation: none !important;
    }

    .nav-link{
        color : white !important;
    }

    .notif {
      animation: blinker 1s linear infinite;
    }

    .notif.danger {
      color : red !important;
    }

    .notif.warning{
      color : yellow !important;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    .atas {
      top: 189px
    }
    .bawah {
      top: 209px
    }


</style>
{%  endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-12">
            <div class="dcs-container">
                <ul class="nav nav-pills justify-content-end pt-3 pr-3">
                  {% for unit in units[:-1] %}
                      <li class="nav-item">
                        <a id="unit{{ unit.id }}" data-id="{{ unit.id }}" class="btn-unit nav-link active" href="#">{{ unit.name }}</a>
                      </li>
                {% endfor %}
                </ul>
                <div class="image-container">
                   <p class="float-center text-center text-white">Loading ...</p>
                </div>
                <div class="bottom-nav">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a id="alat1" data-id="1" class="btn-alat nav-link active" href="#">Turbine</a>
                      </li>
                      <li class="nav-item">
                        <a id="alat2" data-id="2" class="btn-alat nav-link " href="#">BFPT</a>
                      </li>
                      <li class="nav-item">
                        <a id="alat3" data-id="3" class="btn-alat nav-link " href="#">PAF</a>
                      </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock %}