{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pro Reliability</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/assets/jvectormap/jquery-jvectormap-2.0.3.css" %}">
</head>
<body style="overflow: hidden">

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-5 pt-3">
    <a class="navbar-brand" href="#">PRO-Reliability</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown mr-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: white">
                    Hi! Admin Pro-Reliability
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "logout" %}">Log Out</a>
                </div>
            </li>
            <li>
                <div class="inset">
                    <img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200">
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="peta-indonesia" style="border-radius: 15px; width: 100%; height: 100vh"></div>






<script src="https://code.jquery.com/j  query-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

<script src="{% static "/assets/jvectormap/jquery-jvectormap-2.0.3.min.js" %}"></script>
<script src="{% static "/assets/jvectormap/indonesia-adm1.js" %}"></script>
<script>
    $(function(){
   var locale = $('meta[name=locale]').attr("content");
   var legenda;
   if(locale == "en"){
       legenda = ["Head Office","Sales Office", "Factory","Legend"];
   }else{
       legenda = ["Kantor Pusat","Kantor Penjualan", "Pabrik","Legenda"];
   }
   var pabrik = [
      {status:'factory',name:"Pabrik Sumut",coords :[3.5741372 , 98.4837574], img : "PPB SMT.jpg", alamat :"Jl. Binjai Km. 15,5 No. 1 Diski, Deli Serdang. Sumatera Utara 20351", tel : "(061) 8821543, 8821111" , email : "ppb_sumut@wika-beton.co.id" },
      {status:'factory',name:"Pabrik Lampung",coords :[-5.1240237,104.9233755], img : "pabrik-lampung.jpg", alamat :"Jl. Raya Tegineneng Km. 35 Desa Bumi Agung, Pesawaran 35363", tel : "(0725) 41318" , email : "ppb_lampung@wka-beton.co.id" },
      {status:'factory',name:"Pabrik Bogor",coords :[-6.4537305,106.9239429], img : "narogong.png", alamat :"Jl. Raya Narogong Km. 26, Cileungsi, Bogor 16820", tel : "(021) 8674010" , email : "ppb_bogor@wika-beton.co.id" },
      {status:'factory',name:"Pabrik Karawang",coords :[-6.4070848,107.3297575], img : "pabrik-karawang.jpg", alamat :"Jl. Surya Madya III Kav.1-34 Kawasan Industri Surya Cipta Karawang 41361", tel : "(021) 89115167" , email : "ppb_karawang@wika-beton.co.id" },
      {status:'factory',name:"Pabrik Majalengka",coords :[-6.7397985,108.2327882], img : "majalengka.png", alamat :"Jl. Raya Burujul Kulon, Jatiwangi, Majalengka 45454", tel : "(0233) 882575" , email : "ppb_majalengka@wika-beton.co.id" },
      {status:'factory',name:"Pabrik Pasuruan",coords :[-7.5625402,112.6871222], img : "pabrik-pasuruan.jpg", alamat :"Jl. Raya Kejapanan No. 323 Gempol, Pasuruan 67155", tel : "(0343) 852130, 851488, 853161" , email : "ppb_pasuruan@wika-beton.co.id" },
      {status:'factory',name:"Pabrik Boyolali",coords :[-7.5351266,110.634712], img : "pabrik-boyolali.png", alamat :"Jl. Raya Boyolali-Solo Km. 4,5 Mojosongo, Boyolali 57300", tel : "(0276) 321138," , email : "ppb_boyolali@wika-beton.co.id" },
      {status:'factory',name:"Pabrik Lampung Selatan",coords :[-5.7363646,105.6630651], img : "pabrik-lampung-selatan.jpg", alamat :"Jl. Wijaya Karya Beton (Jl. Lintas Timur Sumatera Km. 4) Dusun Yogaloka, Desa Sumur Kec. Ketapang, Kab. Lampung Selatan", tel : "-" , email : "-" },
      {status:'factory',name:"Pabrik Subang",coords :[-6.4653357,107.573159], img : "pabrik-subang.jpg", alamat :"Karangmukti, Cipeundeuy, Subang Regency, West Java 41262", tel : "-" , email : "-" },
      {status:'factory',name:"Pabrik Sulawesi Selatan",coords :[-5.0938152,119.4933326], img : "pabrik-sulsel.jpg", alamat :"Jl. Kima Raya II Kav. S/4-5-6 Kawasan Industri Makasar,Makasar 90241", tel : "(0411) 511764" , email : "ppb_sulsel@wika-beton.co.id" },
      {status:'headOffice',name:"WIKA TOWER 1",coords :[-6.2425838,106.8762497], img : "gedung_wika.jpg", alamat :"Jl. D.I. Panjaitan Kav. 9, RT. 01/RW. 11, Cipinang Cimpedak, Jatinegara, Jakarta Timur 13340", tel : "(021) 8192802" , email : "sekper@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 1 (Representatif Riau)",coords :[0.4819764,101.4516129], img : "gedung_wika.jpg", alamat :"Komplek Perkantoran Grand Sudirman Blok D-17, Jl. Parit Indah/Datuk Setia Maharaja,Pekanbaru 28282", tel : "(0761) 849909" , email : "riau@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 1",coords :[3.6283916,98.6809497], img : "gedung_wika.jpg", alamat :"Jl. Gunung Krakatau No. 15,Medan 20239", tel : "(061) 6626225, 6627577" , email : "wilayah1@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 2",coords :[-2.9617359,104.7732157], img : "gedung_wika.jpg", alamat :"Jl. Bambang Utoyo, Rama Kasih Raya No. 957, Palembang 30115 ", tel : "(0711) 712534, 712510 " , email : "wilayah2@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 2 (Representatif Lampung)",coords :[-5.4389751,105.2558093], img : "gedung_wika.jpg", alamat :"Jl. Wolter Monginsidi No. 222 Teluk Betung, Bandar Lampung 35215 ", tel : "(0721) 482336" , email : "lampung@wika-beton.co.id" },
    //   {status:'salesOffice',name:"Wilayah Penjualan 3",coords :[-6.2455836,106.8742381], img : "gedung_wika.jpg", alamat :"Jl. Biru Laut X No. 20-21, Jakarta 13340", tel : "(021) 8193024" , email : "wilayah3@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 4",coords :[-7.0260299,110.4182825], img : "gedung_wika.jpg", alamat :"Jl. Teuku Umar No. 21, Semarang 50234", tel : "(024) 8411890, 8318787" , email : "wilayah4@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 5",coords :[-7.3314021,112.7282452], img : "gedung_wika.jpg", alamat :"Gedung Tamansari Papilio Lantai 5, Jl. Ahmad Yani No. 176 - 178, Surabaya", tel : "(031) 99003395, 99003396" , email : "wilayah5@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 7",coords :[-1.2746425,116.8574873], img : "gedung_wika.jpg", alamat :"Balikpapan Super Blok/Ewalk Blok A No. 1, Jl. Jendral Sudirman, Balikpapan 76114", tel : "(0542) 877027" , email : "kaltim@wika-beton.co.id" },
      {status:'salesOffice',name:"Wilayah Penjualan 6",coords :[-5.1011214,119.5062955], img : "gedung_wika.jpg", alamat :"Jl. Kima Raya II Kav. S/4-5-6 Kawasan Industri Makassar", tel : "(0411) 511761, 4723100" , email : "wilayah6@wika-beton.co.id" },

    ];
    $('#peta-indonesia').vectorMap({
        map: 'indonesia-adm1_merc',
        backgroundColor : '#00AFEF',
        scaleColors: ['#C8EEFF', '#0071A4'],
        regionStyle : {
            initial: {
                fill: '#006BA8',
                "fill-opacity": 1,
                stroke: 'none',
                "stroke-width": 0,
                "stroke-opacity": 1
            },
            hover: {
                "fill-opacity": 0.8,
                cursor: 'pointer'
            },
            selected: {
                fill: 'yellow'
            },
            selectedHover: {
            }
        },
        series :{
        	markers:[
        		{
        			 attribute: 'image',
        			 scale : {
        			 	'headOffice' : "/assets/pin-green.png",
        			 	'salesOffice': "/assets/pin-yellow.png",
        			 	'factory': "/assets/pin-red.png",
        			 },
        			 values: pabrik.reduce(function(p, c, i){ p[i] = c.status; return p }, {}),
        			 legend: {
			          horizontal: true,
			          title: legenda[3],
			          labelRender: function(v){
			            return {
			              headOffice: legenda[0],
			              salesOffice: legenda[1],
			              factory: legenda[2]
			            }[v];
			          }
			        }
        		}
        	]
        },
        onMarkerTipShow: function (e, el, code) {
            var markers = $('#peta-indonesia').vectorMap('get', 'mapObject').markers;
            el.html(el.html()).css({
                    "background": "#F56052",
                    "border-radius" : "10px",
                    "border" : "none",
                    "padding" : "2px 10px"
                });
        },
        markers: pabrik.map(function(h){ return {name: h.name, latLng: h.coords} }),
        onMarkerClick: function(event, code) {
            console.log(event);
            console.log(code)
            modalDetail(code)
        },
    });

    function modalDetail(id){
        var nama = pabrik[id].name
        var image = "/assets/"+pabrik[id].img;
        var alamat = pabrik[id].alamat;
        var tel = pabrik[id].tel;
        var email = pabrik[id].email;
        $("#pabrik-img").prop("src",image);
        var html = '<h3>'+nama+'</h3>';
            html += '<ul>';
            html += '<li>'+alamat+'</li>';
            html += '<li>Telephone : '+tel+'</li>';
            html += '<li>Email : '+email+'</li>';
            html += "</ul>";
        $('#modal-peta').modal('show');
        $("#pabrik-info").html(html);
    }


});

</script>
</body>
</html>