{% extends "metronic/base.html" %}
{% block js %}
    {% load static %}
    <script src="{%  static "assets/vendors/custom/flot/flot.bundle.js"%}" type="text/javascript"></script>
    <script>
        var previousPoint = null;

        $.fn.UseTooltip = function () {
            $(this).bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();

                        var x = item.datapoint[0];
                        var y = item.datapoint[1];
                        showTooltip(item.pageX, item.pageY,
                           "<strong>" + y + "</strong> (" + item.series.label + ")");
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        };

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 20,
                border: '2px solid #4572A7',
                padding: '2px',
                size: '10',
                'border-radius': '6px 6px 6px 6px',
                'background-color': '#fff',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }
        var head = [];
        {% for i in datas %}
            head["{{ i.name }}"] = [
            {% for j in i.dataset %}
                [{{ forloop.counter }},{{j.1}}],
            {% endfor %}
           ];
        {% endfor %}
        var plot = $.plot($("#m_flotcharts_trend"),[
            {% for i in datas %}
            {
                data : head["{{ i.name }}"],
                label : "{{ i.name }}",
                lines: {
                    lineWidth: 1
                },
                shadowSize: 0
            },
            {% endfor %}
        ],{series: {
                lines: {
                    show: !0,
                    lineWidth: 2,
                    fill: !0,
                    fillColor: {
                        colors: [{
                            opacity: .05
                        }, {
                            opacity: .01
                        }]
                    }
                },
                points: {
                    show: !0,
                    radius: 3,
                    lineWidth: 1
                },
                shadowSize: 2
            },
            grid: {
                hoverable: !0,
                clickable: !0,
                tickColor: "#eee",
                borderColor: "#eee",
                borderWidth: 1
            },
            colors: ["#d12610", "#37b7f3", "#52e136"],
            xaxis: {
                ticks: [],
            },
            yaxis: {
                ticks: 11,
                tickDecimals: 0,
                tickColor: "#eee"
            },
            legend : {
                labelFormatter: function(label, series){
                    var lab = '<a href="#" class="legendButton" style="color:black" data-id="'+ label.split('/')[0] +'">' + label.split('/')[0] + '</a>';
                    return lab;
                }
            }

        });
        $("#m_flotcharts_trend").UseTooltip();
        var c=document.getElementsByTagName("canvas")[0];
        var canvas=c.getContext("2d");
        var cx = c.width / 2;
        var text="All";
        canvas.font="bold 20px sans-serif";
        canvas.textAlign = 'center';
        canvas.fillText(text,cx,35);
        var click
        $('#m_flotcharts_trend').on('click', '.legendButton', function () {


            if(click && click != $(this)) {
                click.css('color', 'black');
            }
            $(this).css('color', 'red');
            click = $(this);
            data = [{
                data : head[$(this).data('id')],
                label : $(this).data('id'),
                lines: {
                    lineWidth: 1
                },
                shadowSize: 0
            }];
            plot.setData(data);
            plot.draw();
            var text=$(this).data('id');
            canvas.font="bold 20px sans-serif";
            canvas.textAlign = 'center';
            canvas.fillText(text,cx,35);
        });

    </script>

{% endblock %}
{% block css %}
    <style>
    .chart_desc {
        list-style: none;
        padding: 0;
        margin-left: 0;
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block left_button_block %}
    <a href="#" id="btn-upload" class="m-portlet__nav-link btn btn-brand  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--pill"> Upload </a>
{% endblock %}

{% block body_block %}
    <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    {{equipment.name}}
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__body">
                        <div id="m_flotcharts_trend" style="height: 600px;"></div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}